<div class="section no-padding">
    <div class="row     col s12 no-mar-bot">
        <div class="section no-mar-bot">
            <div class="col s12 m12 l12">
                <h1 class="title">Mantenimiento de profesionales</h1>
            </div>
        </div>
    </div>
</div>

<div class="card-panel row layout-card-gray-2">
    <div class="row">
        <div class="col s12 m12 l12">
            <span>Buscar por:</span>
        </div>
    </div>

    <div class="row no-mar-bot">
        <form novalidate [formGroup]="busquedaFiltro">
            <div class="col s12 m6 l2">
                <div class="input-field input-field-common col s12">
                    <label class="label" for="nroDocumento">Numero de documento </label>
                    <input name="nroDocumento" formControlName="numeroDocumento" id="nroDocumento" type="text" autocomplete="off" aria-required="true" maxlength="15">
                </div>
            </div>

            <div class="col s12 m6 l3">
                <div class="input-field input-field-common col s12">
                    <label class="label active" for="agencia">Agencia</label>
                    <select name="agencia" id="select_agencia" formControlName="codigoAgencia">
                        <option *ngFor="let agencia of agencias" [ngValue]="agencia.id">{{agencia.name}}</option>
                    </select>
                </div>
            </div>

            <div class="col s12 m6 l3">
                <div class="input-field input-field-common col s12">
                    <label class="label active" for="asociacion">Asociación</label>
                    <select name="asociacion" id="select_asociacion" formControlName="codigoAsociacion">
                        <option *ngFor="let asociacion of asociaciones" [ngValue]="asociacion.id">{{asociacion.name}}</option>
                    </select>
                </div>
            </div>

            <div class="col s2 m6 l2 offset-s7">
                <button class="btn waves-effect waves-light btn-default-resize" (click)="buscarListaProfesional()" style="margin-top:23px;">
                    <span>Buscar</span>
                    <i class="material-icons">search</i>
                </button>
            </div>
        </form>
        <div class="col s2 m6 l2 offset-s1">
            <button class="btn btn-default-resize" style="margin-top:23px;" (click)="openModalItem(0)" id="btnNuevo">
                <span>Nuevo</span>
                <i class="material-icons">add</i>
            </button>
        </div>
    </div>


</div>

<div class="card-panel row layout-card-gray-2">
    <div class="row" id="tecnicos-grid">
        <!-- ******** inicio paginación ************ -->
        <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
        <!-- ******** fin paginación ************ -->

        <table mat-table [dataSource]="listaProfesionalTecnico">
            <ng-container matColumnDef="numeroDocumento">
                <th mat-header-cell *matHeaderCellDef> Num. Documento </th>
                <td mat-cell *matCellDef="let element"> {{element.numeroDocumento}} </td>
            </ng-container>
            <ng-container matColumnDef="nombres">
                <th mat-header-cell *matHeaderCellDef> Nombres </th>
                <td mat-cell *matCellDef="let element"> {{element.primerNombre}} {{element.segundoNombre}} {{element.apellidoPaterno}} {{element.apellidoMaterno}} </td>
            </ng-container>
            <ng-container matColumnDef="editar">
                <th mat-header-cell *matHeaderCellDef> Editar </th>
                <td mat-cell *matCellDef="let element">
                    <i class="material-icons" style="cursor: pointer;" name="action" (click)="openModalItem(element.codigo)">create</i>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>
<app-loading *ngIf="!peticionesTerminadas"></app-loading>
<app-profesional-tecnico-item (transactionEvent)="onTransactionChild($event)"></app-profesional-tecnico-item>
<app-msg-success [descripcion1]="msjSuccess"></app-msg-success>
<app-msg-error></app-msg-error>