<ul (click)="clickSlideOut()" id="slide-out" class="sidenav collapsible">
    <li>
        <div class="user-view center-align">
            <div class="background">

            </div>
        </div>
    </li>
    <li>
        <div class="divider"></div>
    </li>
    <li *ngFor="let modulo of redirectService.modulos" class="" routerLinkActive="active">
        <div class="collapsible-header" tabindex="0">
            <i class="material-icons">{{ modulo.TipoIconoDescripcion }}</i>
            <div>
                <div>
                    <span class="cssurl">
                      <a [routerLink]="modulo.UrlOpcion | lowercase">{{ modulo.DescripcionAplicacion | uppercase}}</a>
                  </span>
                </div>
            </div>

        </div>
    </li>
</ul>