<div class="section no-padding">
    <div class="row     col s12 no-mar-bot">
        <div class="section no-mar-bot">
            <div class="col s12 m12 l12">
                <h1 class="title">Consulta de visitas</h1>
            </div>
        </div>
    </div>
</div>

<div class="card-panel row layout-card-gray-2">
    <div class="row">
        <div class="col s12 m12 l12">
            <span>Buscar por:</span>
        </div>
    </div>

    <div class="row no-mar-bot">
        <form novalidate [formGroup]="busquedaFiltro">

            <div class="col s12 m6 l3">
                <div class="input-field input-field-common col s12">
                    <label class="label active" for="agencia">Agencia</label>
                    <select name="agencia" id="select_agencia" formControlName="codigoagencia">
                        <option *ngFor="let agencia of agencias" [ngValue]="agencia.id">{{agencia.name}}</option>
                    </select>
                </div>

                <div class="input-field input-field-common col s12">
                    <label class="label active" for="funcionario">Funcionario</label>
                    <select name="funcionario" id="select_funcionario" formControlName="codigofuncionario">
                        <option *ngFor="let funcionario of funcionarios" [ngValue]="funcionario.id">{{funcionario.name}}</option>
                    </select>
                </div>
            </div>

            <div class="col s12 m6 l3">
                <div class="input-field input-field-common col s12">
                    <label class="label active" for="tipovisita">Tipo de visita</label>
                    <select name="tipovisita" id="select_tipovisita" formControlName="tipovisita">
                        <option *ngFor="let tipovisita of tipovisitas" [ngValue]="tipovisita.id">{{tipovisita.name}}</option>
                    </select>
                </div>

                <div class="input-field input-field-common col s12">
                    <label class="label active" for="estadoinforme">Estado del informe</label>
                    <select name="estadoinforme" id="select_estadoinforme" formControlName="estadoinforme">
                        <option *ngFor="let estadoinf of estadoinformes" [ngValue]="estadoinf.id">{{estadoinf.name}}</option>
                    </select>
                </div>
            </div>

            <div class="col s2 m6 l2 offset-s7">
                <button class="btn waves-effect waves-light btn-default-resize" (click)="buscarListaVisitas()" style="margin-top:23px;">
                    <span>Buscar</span>
                    <i class="material-icons">search</i>
                </button>
            </div>
        </form>
    </div>


</div>

<div class="card-panel row layout-card-gray-2">
    <div class="row" id="tecnicos-grid">
        <!-- ******** inicio paginación ************ -->
        <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
        <!-- ******** fin paginación ************ -->

        <table mat-table [dataSource]="listaVisita">
            <ng-container matColumnDef="codigoSolicitudCredito">
                <th mat-header-cell *matHeaderCellDef> Solicitud </th>
                <td mat-cell *matCellDef="let element"> {{element.codigoSolicitudCredito}} </td>
            </ng-container>
            <ng-container matColumnDef="numdocumentocliente">
                <th mat-header-cell *matHeaderCellDef> DNI </th>
                <td mat-cell *matCellDef="let element"> {{ element.eAsignacion.eCliente.numdocumento }} </td>
            </ng-container>
            <ng-container matColumnDef="clientenombres">
                <th mat-header-cell *matHeaderCellDef> Nombres </th>
                <td mat-cell *matCellDef="let element"> {{element.eAsignacion.eCliente.primerNombre}} {{element.eAsignacion.eCliente.segundoNombre}} {{element.eAsignacion.eCliente.apellidoPaterno}} {{element.eAsignacion.eCliente.apellidoMaterno}} </td>
            </ng-container>
            <ng-container matColumnDef="visitador">
                <th mat-header-cell *matHeaderCellDef> Visitador </th>
                <td mat-cell *matCellDef="let element"> {{element.eAsignacion.eProfesionalTecnico.primerNombre}} {{element.eAsignacion.eProfesionalTecnico.segundoNombre}} {{element.eAsignacion.eProfesionalTecnico.apellidoPaterno}} {{element.eAsignacion.eProfesionalTecnico.apellidoMaterno}}
                </td>
            </ng-container>
            <ng-container matColumnDef="tipovisita">
                <th mat-header-cell *matHeaderCellDef> Tipo visita </th>
                <td mat-cell *matCellDef="let element"> {{ element.tipoVisita | tipoVisita }} </td>
            </ng-container>
            <ng-container matColumnDef="fechaasignacion">
                <th mat-header-cell *matHeaderCellDef> F. Asignación </th>
                <td mat-cell *matCellDef="let element"> {{ element.eAsignacion.fechaRegistro | date: 'dd/MM/yyyy' }} </td>
            </ng-container>
            <ng-container matColumnDef="fechavisita">
                <th mat-header-cell *matHeaderCellDef> F. Visita </th>
                <td mat-cell *matCellDef="let element"> {{ element.fechaRegistro | date: 'dd/MM/yyyy' }} </td>
            </ng-container>
            <ng-container matColumnDef="estadovisita">
                <th mat-header-cell *matHeaderCellDef> Estado </th>
                <td mat-cell *matCellDef="let element"> {{ element.estado | informeEstado}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>